*,
*::after,
*::before {
  /* reset because browsers by default add some margin and padding */
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  // set a root font-size so that ALL rem values inherit relative to this
  // bad practice to specify font size in pixels bc it overrides the browser's font size that the user can manually change in the settings
  // 62.5% = 10px = 10 / browser's default font size (16px)

  font-size: 62.5%; // 1rem = 10px

  @include respond(tab-land) {
    // <= 1200px
    font-size: 56.25%; // 1rem = 9px, 9px / 16 = 56.25%
  }

  @include respond(tab-port) {
    // <= 900px
    font-size: 50%; // 1rem = 8px, 8px / 16 = 50%, this covers for phone screens so no need to create a media query for phone
  }

  @include respond(big-desktop) {
    // >= 1800px
    font-size: 75%; // 1rem = 12px, 12px / 16 = 75%
  }
}

body {
  /* border and padding are not added to the total width & height */
  box-sizing: border-box;
}
