.row {
  // standard width is 1140px/10px = 114rem (1rem = 10px), we should not used fixed units
  // max-width: if we have enough available space,the browser will use the specified width,
  // else, it will fill 100% of the available space
  max-width: $grid-width;
  background-color: pink;
  // center nested block elements
  margin: 0 auto;

  // select all rows except for the last row
  &:not(:last-child) {
    margin-bottom: $gutter-vertical;
  }

  // without this, the row parent element collapses its height to 0 bc all its child elements are floated
  @include clearfix;

  // select all elements with classes that start with "col-"
  [class^="col-"] {
    &:not(:last-child) {
      margin-right: $gutter-horizontal;
    }
  }

  .col-1-of-2 {
    // calc lets you mix units (can't do this in scss)
    // #{} to use sass variables
    width: calc((100% - #{$gutter-horizontal}) / 2);
    background-color: greenyellow;
    float: left;
  }

  .col-1-of-3 {
    width: calc((100% - (2 * #{$gutter-horizontal})) / 3);
    background-color: greenyellow;
    float: left;
  }
}
