@import "abstracts/variables";
@import "abstracts/functions";
@import "abstracts/mixins";

@import "base/base";
@import "base/animations";
@import "base/typography";
@import "base/utilities";

@import "components/button";
@import "components/composition";
@import "components/feature-box";

@import "layout/grid";
@import "layout/header";

@import "pages/homepage";

*,
*::after,
*::before {
  /* reset because browsers by default add some margin and padding */
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  /* set a root font-size so that ALL rem values inherit relative to this */
  /* bad practice to specify font size in pixels bc it overrides the browser's font size that the user can manually change in the settings */
  /* 62.5% = 10px = 10 / browser's default font size (16px) */
  /* 1rem = 10px */
  font-size: 62.5%;
}

body {
  /* border and padding are not added to the total width & height */
  box-sizing: border-box;
}
