.composition {
  // elements with position absolute will position relative to this element
  position: relative;
  &__photo {
    // always define images in percentages so that it is responsive to the viewport
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.4);
    border-radius: 0.2rem;
    // place images on top of each other, images will be placed according to a reference
    position: absolute;
    // overlaps all the other images
    z-index: 10;
    transition: all 0.2s;
    // adds on to outline property
    outline-offset: 2rem;

    &--p1 {
      // move 0px from the left relative to the container (composition)
      left: 0;
      // move -2rem from the top relative to the container (composition)
      top: -2rem;
    }

    &--p2 {
      right: 0;
      top: 2rem;
    }

    &--p3 {
      left: 20%;
      top: 10rem;
    }

    &:hover {
      // border achieves the same thing but using outline lets us use outline-offset
      outline: 1.5rem solid $color-primary;
      transform: scale(1.05);
      // increase shadow since the element pops towards the user
      box-shadow: 0 2.5rem 4rem rgba($color-black, 0.5);
      // hovered images with highest z-index will be placed on top
      z-index: 20;
    }
  }

  // when we hover over the composition, add styling to the photos that are not hovered
  // the photos that are not hovered will decrease in size
  &:hover &__photo:not(:hover) {
    transform: scale(0.95);
  }
}
